#---Main----#
pyrofork==2.3.61
tgcrypto
aiofiles     
aiohttp
requests
cinemagoer

#---database---#
motor
pymongo
dnspython
marshmallow
umongo

#---others----#
opencv-python-headless
python-dotenv
Pillow
psutil
ujson
pytz
wget
wheel
bs4
